header{
    font-size: 1em;
}

/* nav-section */
header nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 1em;
}
header nav .nav-right{
    display: flex;
    align-items: center;
}
header nav .nav-right a{
    color: #444;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 1.2em;
}

header nav .nav-left .register-login-btn{
    border:1px solid #666;
    padding: 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .nav-left .register-login-btn i{
    margin: 7px;
    color:#444;
    font-size: 1.3em;
}

header nav .nav-left .register-login-btn a{
    color: #444;
    margin: 0px 10px;
    font-size:.9em;
}

/* slider-section */

.slider{
    position: relative;
    font-size: 2em;
}

.slider .slides .item{
    position: relative;
    display: none;
}

.slider .slides .item img{
    width: 60%;
}

.slider .slides .item span{
    position: absolute;
    right: 15%;
    top: 45%;
}

.slider .slides .active{
    display: block;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.slider .buttons{
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 1;
}

.slider .buttons i{
    color: rgb(35, 37, 6);
    margin-right: 5px;
    cursor: pointer;
}
.slider .buttons i:hover{
    color: rgba(11, 4, 77, 0.2);
}


/* product-secton */

.product-sec-new{
    padding: 20px 10px;
    font-size: 1em;
}

.product-sec-new .shoping-card{
    text-align: center;
    padding:10px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px 20px;
}

.shoping-card .img-sec{
    position:relative;
}

.shoping-card .img-sec img{
    width: 60%;
}

.shoping-card .img-sec .hot-offer{
    background-color: #e74c3c;
    color: white;
    border-radius: 5px;
    padding: 5px 6px;
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: .8em;
}

.shoping-card .img-sec .stars{
    position: absolute;
    top: 0px;
    left: 0px;
    color: #f1c40f;
    size: .5em;
}
.shoping-card .title{
    color: #333;
    margin: 20px;
}

.shoping-card .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.shoping-card .buttons .right .price{
    color: #666;
    font-weight: bold;
    font-size: .9em;
}

.shoping-card .buttons .left{
    display: flex;
}

.shoping-card .buttons .left .extend-btn{
    font-size: .8em;
    display:flex;
    margin-left:5px;
    align-items: center;
    justify-content: space-between;
    background-color: #0c8d62;
    color:white;
    width: 40px;
    padding: 8px 12px;
    border-radius: 25px;
    cursor: pointer;
    transition: .5s;
}

.shoping-card .buttons .left .extend-btn:hover{
    width: 100px;
}

/* .shoping-card .buttons .left .extend-btn:hover .b-text{
    width: 100px;
    display: block;
} */


.shoping-card .buttons .left .extend-btn .b-text{
    display:none;
    color: white;

}

.shoping-card .buttons .left .extend-btn .b-icon{
    color: white;

}

/* supper offer baner
 */
.supper-offer-section{
    padding: 10px;
    font-size: 1em;
}

.supper-offer-section .supper-offer-box{
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 0px 10px;
}

.supper-offer-box .supper-offer-box-title{
    background-color: #e74c3c;
    padding: 5px 10px;
    color: aliceblue;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: inline-block;
}

/* .supper-offer-box .body{

} */

.supper-offer-box .body.image-container{
    text-align: center;
    padding: 40px;
}

.supper-offer-box.body .image-container img{
    width: 100%;
}

.supper-offer-box.body .spesification{
    padding: 30px 10px;
}

.supper-offer-box.body .spesification .price-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.supper-offer-box .body .spesification .price-row .price{
    margin-left: 50px;
    color: #444;
    font-size: 1.2em;
}

.supper-offer-box .body .spesification .price-row .off{
    color: cornsilk;
    background-color:#e74c3c;
    padding: 5px 25px;
    border-radius: 5px;
    display: inline-block;
}

.supper-offer-box .body .spesification .title{
    margin: 40px 0px;
    color: #444 ;
    font-weight: bold;
    font-size: 1.4em;
}

.supper-offer-box .body .spesification .counter-down{
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    margin: 10px 40px;
    padding-top:20px ;
    font-weight: bold;
    font-size: 1.5em;
    color: #666;
}

.supper-offer-box.body .spesification .remaining-time{
    color: #777;
    font-size: .8em;
}

.banner{
    text-align: center;
    padding: 0px 5px;
    
}


.dragble-list .shoping-card{
    text-align: center;
    padding:10px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px 20px;
}

.banner img{
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
    width: 80%;
}

.dragble-list img{
    width: 70% !important ;
    margin: auto;
}

.owl-stage-outer{
    direction: ltr;
}

.dragble-list .title{
    padding: 0px 20px;
    padding-bottom: 20px;
}

.dragble-list .title span{
    font-size: 1.2em;
    color: #444;
    border-bottom: 1.5px solid #e74c3c;
}

/* footer */

footer{
    background-color: #636e72;
    font-size: 1em;
}

footer .right{
    padding: 40px;
}

footer .right .title{
    padding: 10px 0px;
    color: antiquewhite;
    font-size: 1.2em;
}

footer .right .des{
    color:rgba(255,255,255,.7);
    line-height: 1.9em;
    font-size: .9em;
}

footer .left{
    padding: 40px;
}

footer .left .title{
    padding: 10px 0px;
    color: antiquewhite;
    font-size: 1.2em;
}


footer .left .socials{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


footer .left .socials a{
    color: azure;
    font-size: 1.4em;
}

footer .bottom{
    background-color:#2d3436;
    text-align: center;
    padding: 15px;
    color: rgba(255,255,255,.9);
}